/* Inicio home.html */

*{
    font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body{
    margin: 0;
}

container{
    display: flex;
}

.nav-bar{
    background-color: #272B30;
    height: 45px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.nav-bar-logo{
    background-color: #272B30;
    width: 15%;
    padding-top: 5px;
    text-align: center;
    border: 1px solid #1D2024;
    font-size: 22px;
}

.a-logo{
    color: #FFFFFF;
}
.nav-bar-pesquisar{
    background-color: #4A4E53;
    width: 80%;
}

.input-pesquisar{
    background-color: #4A4E53;
    border: none;
    height: 45px;
    width: 100%;
    outline: none;
    padding-left: 20px;
    color: white;
    font-size: 18px;
}

.input-pesquisar:focus{
    background-color: #FFFFFF;
    color: #7D8186;
}

.nav-bar-sair{
    background-color: #272B30;
    width: 5%;
    padding: 10px;
    text-align: center;
    border: 1px solid #1D2024;
}

.a-sair{
    /* text-decoration: none; */
    color: #FFFFFF;
}

.a-sair:hover, .a-logo:hover{
    color: #797a7c;
    cursor: pointer;
}

.sidebar{
    background-color: #F8F9FA;
    height: 100vh;
    width: 15%;
    float: left;
    border: 1px solid #DFE0E1;
}

ul{
    margin-top: 15px;
    margin-bottom: 15px;
    list-style-type: none;
    font-size: 18px;
}

li{
    margin: 20px;
    text-align: center;
}

.a-sidebar{
    color: #4A4E53;
}

.a-sidebar:hover{
    color: #007BFF;
}

/* Fim home.html */

/* Inicio servidores.html */

.div-filtro{
    /* float: right; */
    width: 100%;
    height: max-content;
    background-color: #FEFEFE;
    border: 1px solid #DFE0E1;
}

.p-filtro{
    padding: 8px;
    text-align: left;
    font-size: 16px;
    padding-left: 16.2%;
}

.div-tabela{
    background-color: #FEFEFE;
    width: 100%;
}

table{
    font-size: 16px;
    padding: 20px;
    width: 85%;
    border-bottom: 1px solid #DFE0E1;
}

/* Fim servidores.html */

/* Inicio cadastrar_servidor.html */

