<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../static/css/cockpy.css">
</head>
<body>
  
<div class="container">
  <header>
    <nav class="nav-bar">
      <div class="nav-bar-logo">
        <a class="a-logo" href="{{url_for('home')}}">Cockpy</a>
      </div>
      <div class="nav-bar-pesquisar">
        <input class="input-pesquisar" placeholder="Pesquisar">
      </div>
      <div class="nav-bar-sair">
        <a class="a-sair" href="{{url_for('logout')}}">Sair</a>
      </div>
    </nav>
  </header>

  <div class="sidebar">
    <ul>
      <li class="li-item">
        <a class=a-sidebar href="{{url_for('servidores')}}">
          Servidores
        </a>
      </li>
      <li class="li-item">
        <a class=a-sidebar href="#">
          Storage & AIX
        </a>
      </li>
      <li class="li-item">
        <a class=a-sidebar href="#">
          Network
        </a>
      </li>
      <li class="li-item">
        <a class=a-sidebar href="#">
          Soluções
        </a>
      </li>
      <li class="li-item">
        <a class=a-sidebar href="#">
          Usuários
        </a>
      </li>
      <li class="li-item">
        <a class=a-sidebar href="#">
          Servidores Excluídos
        </a>
      </li>
    </ul>
  </div>
  {% block conteudo %}  

  <div>Conteudo</div>
  
  {% endblock %}
</div>

</body>
</html>